/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/
@font-face {
  font-family: 'Folkard';
  src: url('/fonts/folkard_.ttf');
}

.kaamelott-font {
  font-family: 'Folkard';
}
.banniere{
	height: 100%;
	width: auto;
}
.ban{margin-top: -15px;}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/
.navbar{
	border-bottom: 1px solid black;
	height: 75px;


}

.logo{
	height: 60px;
}
.crée{
	margin-top: 1%;
	font-size: 20px;
	padding-right: 2%;
}

/************************************************\
==================================================
3. Citation
==================================================
\************************************************/
.kaamelott-underline {
  border-bottom: solid 5px #a57824;
}
.couleur{
	color:a57824;
}

.kaamelott-banner.jumbotron {
  background-image: url('img/kaamelott-banner.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

p.source {
  text-align: right;
}

.quote {
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.quote .hider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(0deg, #fff, transparent);
}

.thumbnail .img-box {
  max-height: 200px;
  overflow: hidden;
}

.thumbnail .img-box img {
  width: 100%;
}

.thumbnail {
  height: 420px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
}

.thumbnail blockquote {
  padding: 10px;
  border-left: none;
}

blockquote {
  border-left: 5px solid #a57824;
}

.item-actions {
  text-align: right;
  padding: 0 5px;
}

.btn.btn-kaamelott {
  background-color: #a57824;
  color: white;
}

.btn.btn-kaamelott:hover {
  background-color: #996f21;
}


/************************************************\
==================================================
4. Footer
==================================================
\************************************************/
.footer{
	background-color:#996f21;
	font-size: 30px;
	height: 100px;

}
.picto{
	margin-top: %;
		letter-spacing: 20px;
}
.text-footer{
	color: white;
	font-weight: bold;
	opacity: 0.4;
	font-size: 15px;
	margin-top: 1%;
}
