/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
==================================================
\************************************************/


/************************************************\
==================================================
1. Font
==================================================
\************************************************/

@font-face {
    font-family: 'Folkard';
    src: url('/fonts/folkard_.ttf');
}

.kaamelott-font {
    font-family: 'Folkard';
}


/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.navbar-brand {
    height: 60px;
}

.navbar-brand img {
    width: 180px;
    margin-top: -5%;
}

.navbar-default {
    background-color: #4e3d0b;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0px 3px 6px 0 black;
}

.navbar-btn {
    margin-top: 15px;
    margin-bottom: 8px;
    margin-left: 25Px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}


/************************************************\
==================================================
3. Citation
==================================================
\************************************************/
form.center-block {
    width: 70%;
    margin-bottom: 5%;
}

.kaamelott-underline {
    border-bottom: solid 5px #a57824;
}

.kaamelott-banner.jumbotron {
    background-image: url("img/kaamelott-banner.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

p.source {
    text-align: right;
}

.quote {
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.quote .hider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(0deg, #fff, transparent);
}

.thumbnail .img-box {
    max-height: 200px;
    overflow: hidden;
}

.thumbnail .img-box img {
    width: 100%;
}

.thumbnail {
    height: 420px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.thumbnail blockquote {
    padding: 10px;
    border-left: none;
}

blockquote {
    border-left: 5px solid #a57824;
}

.item-actions {
    text-align: right;
    padding: 0 5px;
}

.btn.btn-kaamelott {
    background-color: #a57824;
    color: white;
}

.btn.btn-kaamelott:hover {
    background-color: #996f21;
}


/************************************************\
==================================================
4. Footer
==================================================
\************************************************/

.footer {
    background-color: #4e3d0b;
}

.social a {
    color: white;
}

.social.text-center {
    margin: 2% 0;
}

.fa {
    margin-right: 2%;
}
